@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global CSS */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }

  img.dot{
    width: 15px !important;

  }
  